.clock {}

.clock__time {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: $ls;
    font-family: $font__clock;
    color: $color__off-white;
    @include shadowText2();

    @include media(mobile) {
        font-size: 5rem;
    }
}