.service__icon {
    width: 10rem;
    margin: 0 auto;
    min-height: 12rem;

    img {
        width: 10rem;
    }
}

.service__content {
    .service__title {
        font-size: 3rem;
        text-transform: uppercase;
        @include shadowText2();
    }

    p {
        font-family: $font__raleway;
    }
}

.service__column {
    margin-top: 5rem;
}