.ReactModalPortal>div {
    opacity: 0;
    z-index: 1000;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.react-modal {
    background: linear-gradient(45deg, rgba(125, 125, 123, 1) 0%, rgba(125, 125, 123, 1) 5%, rgba(80, 125, 188, 1) 35%, rgba(80, 125, 188, 1) 51%, rgba(80, 125, 188, 1) 57%, rgba(80, 125, 188, 1) 71%, rgba(125, 125, 123, 1) 94%, rgba(125, 125, 123, 1) 100%);
    max-width: 38rem;
    outline: none;
    padding: $l-size;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px $color__grey-light;
}

.modal__title {
    text-transform: uppercase;
    letter-spacing: $ls;
    width: 100%;
    padding: 0 2rem;
    font-size: 3rem;
    color: $color__off-white;
    font-family: $font__kanit;
    font-weight: 600;
}

.modal__body {
    letter-spacing: $ls;
    text-transform: uppercase;
    word-wrap: normal;
    font-family: $font__raleway;
    font-size: 1.2rem;
    color: $color__off-white;
    margin-bottom: 2rem;
}

.btn-main {
    @include btn-styles();
}