.motto {
    background-color: $color__off-white;
    border-radius: 1rem;

}

.motto__rows {

    .motto__img-right,
    .motto__img-left {
        img {
            width: 25rem;
        }
    }

    .motto__text-left,
    .motto__text-right {
        padding: 5rem 2rem;

        h1 {
            color: $color__theme-black;
            text-transform: uppercase;
            font-size: 5rem;
            @include shadowText2();
            letter-spacing: $ls;
        }


        p {
            padding: 0 2rem;
            font-family: $font__raleway;
        }
    }
}

.agile-row {
    .motto__text-left {
        order: 2;

        @include media(mobile) {
            order: 1;
        }
    }

    .motto__img-right {
        order: 1;

        @include media(mobile) {
            order: 2;
        }

        img {
            margin-left: 5rem;
            margin-bottom: -8rem;

            @include media(mobile) {
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}

.forward-row {
    .motto__img-left {
        img {
            margin-left: 5rem;
            margin-bottom: -8rem;
        }
    }
}

.knowledge-row {
    .motto__text-left {
        order: 2;

        @include media(mobile) {
            order: 1;
        }

        h1 {
            font-size: 3rem;

            @include media(tablet) {
                font-size: 5rem;
            }
        }
    }

    .motto__img-right {
        order: 1;

        @include media(mobile) {
            order: 2;
        }

        img {
            margin-left: 5rem;
            margin-bottom: -5rem;

            @include media(mobile) {
                margin-right: 2rem;
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}