.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    min-height: 8em;
    border: 1px solid black;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    visibility: hidden;
}

.navbar .logo {
    color: #fff
}

.navbar .icon-bar {
    color: #fff
}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: #eee;
    letter-spacing: 1px;
    margin: 15px 5px;
    position: relative;
    overflow: hidden
}

.navbar .navbar-nav .nav-link:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 10px;
    bottom: -30px;
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s
}

.navbar .navbar-nav .active:after {
    opacity: 1;
    bottom: 5px
}

.navbar .dropdown:hover>.dropdown-menu {
    display: block
}

.navbar .dropdown-menu {
    border: 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    top: 90%;
    min-width: 12rem;
    padding: 0;
    border-radius: 0
}

.navbar .dropdown-item {
    font-size: 13px;
    padding: 15px;
    -webkit-transition: all .4s;
    transition: all .4s
}

.fa-bars {
    color: $color__off-white;
    font-size: 25px;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
    padding-left: 20px
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
    background-color: transparent;
    color: inherit
}

.nav-scroll {
    background: #292929;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    padding: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    visibility: visible
}

.nav-scroll .logo img {
    width: 120px;
}

.nav-scroll .icon-bar {
    color: #222
}

.nav-scroll .navbar-nav .nav-link {
    color: #fff;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: $font__montserrat;
    font-weight: 600;
}

.nav-scroll .navbar-nav .nav-link:after {
    background: #222
}

.nav-scroll .navbar-nav .logo {
    padding: 15px 0;
    color: #111
}